<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>zateevo.ru - Главная</title>
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
	</head>
	<body>
		<div class="header_outer">
			<div class="header_inner">
				<div class="logo"><a href="./index.html"></a></div>
				<div class="top_menu">
					<div class="item"><a href="./about.html">О Затеево</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Стань автором</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Испытай себя</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./catalog-2.html">Архивчик</a></div>
					<div class="clear"></div>
					<div class="board_item"><a href="./sign_in.html">Своя страничка</a></div>
				</div>
			</div>
		</div>
		<div class="main_outer_main_2">
			<div class="main_inner">
				<div class="page_logo_main"></div>
				<div class="register">
					<div class="register_3">
						<div class="title">ЗАРЕГИСТРИРОВАТЬСЯ</div>
						<div class="subtitle">Информация для новых незарегистрированных пользователей</div>
						<br>
						<div class="title_2">Правила сайта Затеево.</div>
						<div class="centent">
							<p>1. Общие положения</p>
							<p>1.1. Сайт www.zateevo.ru (далее - Сайт) создан с целью тематического общения 
							школьников, ограниченного приведёнными ниже правилами. Все зарегистриро-
							ванные Пользователи Сайта обязаны придерживаться этих правил. Если вы не 
							хотите или не имеете возможности следовать указанным правилам, то можете 
							только читать материалы сайта. Участие в дискуссиях-форумах, викторинах и 
							конкурсах, размещение творческих работ и переписка с участниками Сайта 
							доступны только зарегистрированным Пользователям (для зарегистрированных 
							пользователей). </p>
							<p>1.2. Факт регистрации и авторизации на Сайте, использование материалов или 
							сервисов Сайта означает согласие пользователя следовать Правилам сайта. 
							Если администрация принимает какое-то решение, не прописанное в правилах, 
							вносит в них изменения или дополнения, пользователи обязаны их выполнять 
							с момента информирования. </p>
							<p>1.3. На Сайте запрещены: </p>
							<p>- любые высказывания и проявления националистического, расистского харак-
							тера. Высказывания, разжигающие межнациональную, межгосударственную и 
							межрелигиозную розни, расовую неприязнь и оскорбляющие национальную 
							принадлежность людей, </p>
							<p>- ругань, оскорбления или угрозы по отношению к кому-либо, </p>
							<p>- категорически запрещен МАТ, за нарушение сразу дается предупреждение 
							с полным закрытием доступа на сайт. Замена букв в нецензурном слове на 
							знаки препинания, сокращения, специальные символы и т.п. не освобождает 
							его от определения "МАТ", </p>
							<p>- нельзя указывать ни с какой целью личную информацию, как то: 
							электронные или почтовые адреса, номера телефонов. Нельзя приглашать 
							Пользователей пообщаться на других сайтах и т.п., </p>
							<p>- нельзя регистрироваться на Сайте под разными именами (далее Никами) и 
							использовать регистрационные коды других Пользователей. IP компьютеров 
							Пользователей, нарушивших это правило, будут заблокированы. </p>
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="bottom_menu">
						<a href="">Музеи и выставки</a>
						&nbsp;|&nbsp;
						<a href="">Популярные Артисты</a>
						&nbsp;|&nbsp;
						<a href="">Баскетбол Москва-Динамо</a>
						&nbsp;|&nbsp;
						<a href="">Все Затеево</a>
					</div>
					<div class="social">
						<div class="vk_link">
							<a href=""><img src="images/vk_logo.png"></a>
						</div>
						<div class="vk_desc">
							Теперь мы создали группу ЗАТЕЕВО в ВКонтакте! <br>
							Заходите, друзья, и общайтесь!
						</div>
						<div class="mail">
							<a href="">Написать<br>
							письмо</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_outer">
			<div class="footer_inner">
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Кто есть кто?</a></div>
					<div class="sub_link"><a href="">Великие россияне</a></div>
					<div class="sub_link"><a href="">Дети герои</a></div>
					<div class="sub_link"><a href="">Наши таланты</a></div>
					<div class="main_link"><a href="">Что есть что?</a></div>
					<div class="sub_link"><a href="">Космос</a></div>
					<div class="sub_link"><a href="">Микрокосмос</a></div>
					<div class="sub_link"><a href="">Вулканы</a></div>
					<div class="main_link"><a href="">Интересности</a></div>
					<div class="sub_link"><a href="">Новости</a></div>
					<div class="sub_link"><a href="">Конкурсы</a></div>
					<div class="sub_link"><a href="">Оказывается</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">География</a></div>
					<div class="sub_link"><a href="">Земляне</a></div>
					<div class="sub_link"><a href="">Страны СНГ</a></div>
					<div class="sub_link"><a href="">Места России</a></div>
					<div class="main_link"><a href="">Отдохни</a></div>
					<div class="sub_link"><a href="">Почитать рассказ</a></div>
					<div class="sub_link"><a href="">Комиксы</a></div>
					<div class="sub_link"><a href="">Анекдоты</a></div>
					<div class="main_link"><a href="">Развиваем кругозор</a></div>
					<div class="sub_link"><a href="">Викторина</a></div>
					<div class="sub_link"><a href="">Ответы викторин</a></div>
					<div class="sub_link"><a href="">Музеи</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Форумы</a></div>
					<div class="sub_link"><a href="">Форум Насти</a></div>
					<div class="sub_link"><a href="">Форум спортсменов</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">В мире животных</a></div>
					<div class="sub_link"><a href="">Звери дикие и смешные</a></div>
					<div class="sub_link"><a href="">Домашние питомцы</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">Дополнительные уроки</a></div>
					<div class="sub_link"><a href="">Великая отечественная</a></div>
					<div class="sub_link"><a href="">Современная российская армия</a></div>
					<div class="sub_link"><a href="">Спорт</a></div>
				</div>
				<div class="clear"></div>
				<div class="teleport">
					<a href=""><img src="images/teleport.png"></a>
				</div>
				<div class="footer_picture_menu">
					<div class="item_1"><a href=""></a></div>
					<div class="item_2"><a href=""></a></div>
					<div class="item_3"><a href=""></a></div>
					<div class="item_4"><a href=""></a></div>
					<div class="item_5"><a href=""></a></div>
					<div class="item_6"><a href=""></a></div>
				</div>
				<div class="copyright">
					&copy; - ВЕБ-СТУДИЯ <a href="">"CENTRIDA"</a>
				</div>
			</div>
		</div>
		<div class="footer_separate"></div>
		<div class="credits_outer">
			<div class="credits_inner">
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td><a href=""><img src="images/rek_logo_1.png"></a></td>
						<td><a href=""><img src="images/rek_logo_2.png"></a></td>
						<td><a href=""><img src="images/rek_logo_3.png"></a></td>
						<td><a href=""><img src="images/rek_logo_4.png"></a></td>
						<td><a href=""><img src="images/rek_logo_5.png"></a></td>
						<td><a href=""><img src="images/rek_logo_6.png"></a></td>
					</tr>
					<tr>
						<td valign="top"><a href="">Размещение объявлений в <br>газетах и журналах</a></td>
						<td valign="top"><a href="">Автомобильный портал</a></td>
						<td valign="top"><a href="">Все вакансии в одном месте</a></td>
						<td valign="top"><a href="">Здесь покупают автомобили</a></td>
						<td valign="top"><a href="">Недвижимость в интернете</a></td>
						<td valign="top"><a href="">Все предложения <br>коммерческого транспорта</a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
