<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>zateevo.ru - Главная</title>
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
	</head>
	<body>
		<div class="header_outer">
			<div class="header_inner">
				<div class="logo"><a href="./index.html"></a></div>
				<div class="top_menu">
					<div class="item"><a href="./about.html">О Затеево</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Стань автором</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Испытай себя</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./catalog-2.html">Архивчик</a></div>
					<div class="clear"></div>
					<div class="board_item"><a href="./sign_in.html">Своя страничка</a></div>
				</div>
			</div>
		</div>
		<div class="main_outer_main">
			<div class="main_inner">
				<div class="page_logo_main"></div>
				<div class="top_picture_menu">
					<div class="line">
						<div class="item_1"><a href="./h-kashey_8_41.html"></a></div>
						<div class="item_2"><a href="./h-emelyan_8_41.html"></a></div>
						<div class="item_3"><a href="./h-yaga_8_41.html"></a></div>
						<div class="clear"></div>
					</div>
					<div class="line">
						<div class="item_4"><a href="./h-konstantin_8_41.html"></a></div>
						<div class="item_5"><a href="./h-dva_fedota_8_41.html"></a></div>
						<div class="item_6"><a href="./h-ulyany_8_41.html"></a></div>
						<div class="item_7"><a href="./h-ivan_krylov_8_41.html"></a></div>
						<div class="item_8"><a href="./h-nastya_8_41.html"></a></div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="news">
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tr>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
							<td>
								<div class="img"><a href=""><img src="images/news_picture_sample.png"></a></div>
								<div class="title"><a href="">Бурановские бабушки</a></div>
								<div class="anons">Российский коллектив произвел фурор на конкурсе в Баку на Международном конкурсе  >>></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="bottom">
					<div class="bottom_menu">
						<a href="">Музеи и выставки</a>
						&nbsp;|&nbsp;
						<a href="">Популярные Артисты</a>
						&nbsp;|&nbsp;
						<a href="">Баскетбол Москва-Динамо</a>
						&nbsp;|&nbsp;
						<a href="">Все Затеево</a>
					</div>
					<div class="social">
						<div class="vk_link">
							<a href=""><img src="images/vk_logo.png"></a>
						</div>
						<div class="vk_desc">
							Теперь мы создали группу ЗАТЕЕВО в ВКонтакте! <br>
							Заходите, друзья, и общайтесь!
						</div>
						<div class="mail">
							<a href="">Написать<br>
							письмо</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_outer">
			<div class="footer_inner">
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Кто есть кто?</a></div>
					<div class="sub_link"><a href="">Великие россияне</a></div>
					<div class="sub_link"><a href="">Дети герои</a></div>
					<div class="sub_link"><a href="">Наши таланты</a></div>
					<div class="main_link"><a href="">Что есть что?</a></div>
					<div class="sub_link"><a href="">Космос</a></div>
					<div class="sub_link"><a href="">Микрокосмос</a></div>
					<div class="sub_link"><a href="">Вулканы</a></div>
					<div class="main_link"><a href="">Интересности</a></div>
					<div class="sub_link"><a href="">Новости</a></div>
					<div class="sub_link"><a href="">Конкурсы</a></div>
					<div class="sub_link"><a href="">Оказывается</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">География</a></div>
					<div class="sub_link"><a href="">Земляне</a></div>
					<div class="sub_link"><a href="">Страны СНГ</a></div>
					<div class="sub_link"><a href="">Места России</a></div>
					<div class="main_link"><a href="">Отдохни</a></div>
					<div class="sub_link"><a href="">Почитать рассказ</a></div>
					<div class="sub_link"><a href="">Комиксы</a></div>
					<div class="sub_link"><a href="">Анекдоты</a></div>
					<div class="main_link"><a href="">Развиваем кругозор</a></div>
					<div class="sub_link"><a href="">Викторина</a></div>
					<div class="sub_link"><a href="">Ответы викторин</a></div>
					<div class="sub_link"><a href="">Музеи</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Форумы</a></div>
					<div class="sub_link"><a href="">Форум Насти</a></div>
					<div class="sub_link"><a href="">Форум спортсменов</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">В мире животных</a></div>
					<div class="sub_link"><a href="">Звери дикие и смешные</a></div>
					<div class="sub_link"><a href="">Домашние питомцы</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">Дополнительные уроки</a></div>
					<div class="sub_link"><a href="">Великая отечественная</a></div>
					<div class="sub_link"><a href="">Современная российская армия</a></div>
					<div class="sub_link"><a href="">Спорт</a></div>
				</div>
				<div class="clear"></div>
				<div class="teleport">
					<a href=""><img src="images/teleport.png"></a>
				</div>
				<div class="footer_picture_menu">
					<div class="item_1"><a href=""></a></div>
					<div class="item_2"><a href=""></a></div>
					<div class="item_3"><a href=""></a></div>
					<div class="item_4"><a href=""></a></div>
					<div class="item_5"><a href=""></a></div>
					<div class="item_6"><a href=""></a></div>
				</div>
				<div class="copyright">
					&copy; - ВЕБ-СТУДИЯ <a href="">"CENTRIDA"</a>
				</div>
			</div>
		</div>
		<div class="footer_separate"></div>
		<div class="credits_outer">
			<div class="credits_inner">
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td><a href=""><img src="images/rek_logo_1.png"></a></td>
						<td><a href=""><img src="images/rek_logo_2.png"></a></td>
						<td><a href=""><img src="images/rek_logo_3.png"></a></td>
						<td><a href=""><img src="images/rek_logo_4.png"></a></td>
						<td><a href=""><img src="images/rek_logo_5.png"></a></td>
						<td><a href=""><img src="images/rek_logo_6.png"></a></td>
					</tr>
					<tr>
						<td valign="top"><a href="">Размещение объявлений в <br>газетах и журналах</a></td>
						<td valign="top"><a href="">Автомобильный портал</a></td>
						<td valign="top"><a href="">Все вакансии в одном месте</a></td>
						<td valign="top"><a href="">Здесь покупают автомобили</a></td>
						<td valign="top"><a href="">Недвижимость в интернете</a></td>
						<td valign="top"><a href="">Все предложения <br>коммерческого транспорта</a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
