<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>zateevo.ru - Телепортатор</title>
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
	</head>
	<body>
		<div class="header_outer">
			<div class="header_inner">
				<div class="logo"><a href="./index.html"></a></div>
				<div class="top_menu">
					<div class="item"><a href="./about.html">О Затеево</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Стань автором</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./about.html">Испытай себя</a></div>
					<div class="separate"></div>
					<div class="item"><a href="./catalog-2.html">Архивчик</a></div>
					<div class="clear"></div>
					<div class="board_item"><a href="./sign_in.html">Своя страничка</a></div>
				</div>
			</div>
		</div>
		<div class="main_outer_5">
			<div class="main_inner">
				<div class="teleport">
					<a href="./starnica_long.html"><img src="images/teleport.png"></a>
				</div>
				<div class="teleport_content">
					<img src="images/teleport_title.png">
					<h2>Во время первой экспедиции Колумба открыто <br>Саргассово море.</h2>
					<p class="white"><span class="yellow">Задайте вопрос:</span>   <b>Какое море не имеет берегов? — Саргассово море!</b></p>
					<p>В первую свою экспедицию в 1492  году Колумб снарядил три судна, в команду флотилии вошло 90 человек. 
						В ходе экспедиции были открыты Америка, Саргассово море, остров Сан-Сальвадор (Спаситель), острова 
						Карибского моря — Гуанахани (Багамские острова), Эспаньола (Гаити), Хуана (Куба), остров Тортуга. Этим 
						путешествием Колумб начал завоевание Испанией американского континента.
					</p>
					<div class="pictures_slider">
						<div class="big_picture"><img src="images/big_map_sample.jpg"></div>
						<div class="small_picture"><img src="images/small_map_1_sample.jpg"></div>
						<div class="small_picture"><img src="images/small_map_2_sample.jpg"></div>
						<div class="description">
							<i>Христофор Колумб первым 
							из путешественников прошел 
							через Саргассово море и 
							пересек район Атлантики, 
							который мы теперь называем 
							Бермудским треугольником.</i>
						</div>
					</div>
					<table border="0" width="100%">
						<tr><td valign="top" width="50%">
							<p>Христофор Колумб первым из путешественников прошел 
							через Саргассово море и пересек район Атлантики, 
							который мы теперь называем Бермудским треугольником. 
							Благодаря Колумбу этот район оказался окутанным 
							атмосферой тайны, которая с годами становилась все 
							более интригующей.</p>
							 
							<p>Судовой журнал Колумба содержит описание моря, 
							сплошь заполненного водорослями, рассказ о необычном 
							поведении стрелки компаса, о внезапно возникшем 
							огромном языке пламени, о странном свечении моря. 
							Каждое непонятное явление повергало в ужас морепла-
							вателей. Слухи о невероятных событиях быстро 
							распространялись среди моряков, и скоро этот район 
							Атлантики приобрел репутацию загадочного и 
							таинственного, которая сохраняется до сих пор.</p>
						</td><td valign="top" width="50%">
							<p>Саргассово море по площади почти равно территории 
							Соединенных Штатов Америки. </p>

							<p>Со всех сторон Саргассово море окружают мощные 
							атлантические течения, которые заставляют его воды 
							медленно вращаться по часовой стрелке. Название море 
							получило от португальского слова «sагgасо», «морская 
							водоросль». Мореплаватели, пересекавшие Саргассово 
							море, боялись сесть на мель. Большие скопления 
							водорослей обычно означают близость земли. Глубина 
							океана в этом районе составляет несколько миль. Колумб 
							очень точно описал водоросли моря. В Саргассовом море 
							обитает множество необычных существ. А  так назы-
							ваемые «конские широты», то есть полоса частых 
							и длительных штилей, когда отсутствие ветра заставляло 
							корабли долго стоять на месте,  значительно усиливают 
							необычность этого района.</p>
						</td></tr>
					</table>
					<div class="ads">
						<table border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td class="title" width="33%"><a href="">Разместить бесплатное объявление</a></td>
								<td class="title" width="33%"><a href="">Разместить бесплатное объявление</a></td>
								<td class="title" width="33%"><a href="">Разместить бесплатное объявление</a></td>
							</tr>
							<tr>
								<td class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</td>
								<td class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</td>
								<td class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</td>
							</tr>
							<tr>
								<td class="site"><a href="">rdw.ru</a></td>
								<td class="site"><a href="">rdw.ru</a></td>
								<td class="site"><a href="">rdw.ru</a></td>
							</tr>
						</table>
					</div>
					<p>Мореплаватели, пересекавшие Саргассово море, боялись сесть на мель. Большие скопления водорослей обычно 
					означают близость земли. Глубина океана в этом районе составляет несколько миль. Колумб очень точно описал 
					водоросли моря. В Саргассовом море обитает множество необычных существ. А  так называемые «конские 
					широты», то есть полоса частых и длительных штилей, когда отсутствие ветра заставляло 
					корабли долго стоять на месте,  значительно усиливают необычность этого района.</p>
				</div>
				<div class="right_ads_column">
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
					<div class="title"><a href="">Разместить бесплатное объявление</a></div>
					<div class="description">Быстрое и удобное размещение объявлений. Большая аудитория читателей.</div>
					<div class="site"><a href="">rdw.ru</a></div>
				</div>
				<div class="bottom">
					<div class="bottom_menu">
						<a href="">Музеи и выставки</a>
						&nbsp;|&nbsp;
						<a href="">Популярные Артисты</a>
						&nbsp;|&nbsp;
						<a href="">Баскетбол Москва-Динамо</a>
						&nbsp;|&nbsp;
						<a href="">Все Затеево</a>
					</div>
					<div class="social">
						<div class="vk_link">
							<a href=""><img src="images/vk_logo.png"></a>
						</div>
						<div class="vk_desc">
							Теперь мы создали группу ЗАТЕЕВО в ВКонтакте! <br>
							Заходите, друзья, и общайтесь!
						</div>
						<div class="mail">
							<a href="">Написать<br>
							письмо</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_outer">
			<div class="footer_inner">
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Кто есть кто?</a></div>
					<div class="sub_link"><a href="">Великие россияне</a></div>
					<div class="sub_link"><a href="">Дети герои</a></div>
					<div class="sub_link"><a href="">Наши таланты</a></div>
					<div class="main_link"><a href="">Что есть что?</a></div>
					<div class="sub_link"><a href="">Космос</a></div>
					<div class="sub_link"><a href="">Микрокосмос</a></div>
					<div class="sub_link"><a href="">Вулканы</a></div>
					<div class="main_link"><a href="">Интересности</a></div>
					<div class="sub_link"><a href="">Новости</a></div>
					<div class="sub_link"><a href="">Конкурсы</a></div>
					<div class="sub_link"><a href="">Оказывается</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">География</a></div>
					<div class="sub_link"><a href="">Земляне</a></div>
					<div class="sub_link"><a href="">Страны СНГ</a></div>
					<div class="sub_link"><a href="">Места России</a></div>
					<div class="main_link"><a href="">Отдохни</a></div>
					<div class="sub_link"><a href="">Почитать рассказ</a></div>
					<div class="sub_link"><a href="">Комиксы</a></div>
					<div class="sub_link"><a href="">Анекдоты</a></div>
					<div class="main_link"><a href="">Развиваем кругозор</a></div>
					<div class="sub_link"><a href="">Викторина</a></div>
					<div class="sub_link"><a href="">Ответы викторин</a></div>
					<div class="sub_link"><a href="">Музеи</a></div>
				</div>
				<div class="footer_menu_block">
					<div class="main_link"><a href="">Форумы</a></div>
					<div class="sub_link"><a href="">Форум Насти</a></div>
					<div class="sub_link"><a href="">Форум спортсменов</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">В мире животных</a></div>
					<div class="sub_link"><a href="">Звери дикие и смешные</a></div>
					<div class="sub_link"><a href="">Домашние питомцы</a></div>
					<div class="sub_link"><a href="">&nbsp;</a></div>
					<div class="main_link"><a href="">Дополнительные уроки</a></div>
					<div class="sub_link"><a href="">Великая отечественная</a></div>
					<div class="sub_link"><a href="">Современная российская армия</a></div>
					<div class="sub_link"><a href="">Спорт</a></div>
				</div>
				<div class="clear"></div>
				<div class="footer_picture_menu">
					<div class="item_1"><a href=""></a></div>
					<div class="item_2"><a href=""></a></div>
					<div class="item_3"><a href=""></a></div>
					<div class="item_4"><a href=""></a></div>
					<div class="item_5"><a href=""></a></div>
					<div class="item_6"><a href=""></a></div>
				</div>
				<div class="copyright">
					&copy; - ВЕБ-СТУДИЯ <a href="">"CENTRIDA"</a>
				</div>
			</div>
		</div>
		<div class="footer_separate"></div>
		<div class="credits_outer">
			<div class="credits_inner">
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td><a href=""><img src="images/rek_logo_1.png"></a></td>
						<td><a href=""><img src="images/rek_logo_2.png"></a></td>
						<td><a href=""><img src="images/rek_logo_3.png"></a></td>
						<td><a href=""><img src="images/rek_logo_4.png"></a></td>
						<td><a href=""><img src="images/rek_logo_5.png"></a></td>
						<td><a href=""><img src="images/rek_logo_6.png"></a></td>
					</tr>
					<tr>
						<td valign="top"><a href="">Размещение объявлений в <br>газетах и журналах</a></td>
						<td valign="top"><a href="">Автомобильный портал</a></td>
						<td valign="top"><a href="">Все вакансии в одном месте</a></td>
						<td valign="top"><a href="">Здесь покупают автомобили</a></td>
						<td valign="top"><a href="">Недвижимость в интернете</a></td>
						<td valign="top"><a href="">Все предложения <br>коммерческого транспорта</a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
